<div class="header">
    <div>Burrito GmbH</div>
</div>
<div *ngFor="let product of productList, index as i" class="container">
    <div class="product-container">
        <div class="product-box">
            <div>{{product.name}}</div>
            <div>{{product.price.toFixed(2).replace('.',',') + ' ' +'EUR'}}</div>
            <button mat-mini-fab>
  <mat-icon (click)="cart.addToShoppingCart(product)">add</mat-icon>
</button>
        </div>


        <div class="shopping-cart">
            <app-shopping-cart></app-shopping-cart>
        </div>


    </div>
    <router-outlet></router-outlet>