.header {
    height: 90px;
    background-color: green;
    color: white;
    align-items: center;
    display: flex;
    padding-left: 20px;
}

.product-box {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    height: 80px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    min-width: 60%
}

.product-container {
    display: flex;
    flex-direction: column;
    width: 70%
}

.container {
    display: flex;
}

.shopping-cart {
    position: absolute;
    top: 91px;
    right: 0;
    min-width: 30%;
}

.mat-mini-fab.mat-accent {
    background-color: red !important;
}